<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cs.unipd.sensorstester"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.cs.unipd.sensorstester.SensorTesterActivity"
            android:label="@string/app_name" >

            <!-- android:name="it.cs.unipd.sensorstester.SensorTesterActivity" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.cs.unipd.motion_sensors.AccelerometerTester"
            android:label="@string/accelerometer"
            android:parentActivityName="it.cs.unipd.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.motion_sensors.GravityTester"
            android:label="@string/gravity"
            android:parentActivityName="it.cs.unipd.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.motion_sensors.GyroscopeTester"
            android:label="@string/gyroscope"
            android:parentActivityName="it.cs.unipd.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.motion_sensors.LinearAccelerationTester"
            android:label="@string/linear_acceleration"
            android:parentActivityName="it.cs.unipd.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.environment_sensors.AmbientTemperatureTester"
            android:label="@string/ambient_temperature"
            android:parentActivityName="it.cs.unipd.it.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.environment_sensors.LightTester"
            android:label="@string/light"
            android:parentActivityName="it.cs.unipd.it.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.environment_sensors.PressureTester"
            android:label="@string/pressure"
            android:parentActivityName="it.cs.unipd.it.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.environment_sensors.RelativeHumidityTester"
            android:label="@string/relative_humidity"
            android:parentActivityName="it.cs.unipd.it.sensorstester.SensorTesterActivity">
        </activity>
        <activity
            android:name="it.cs.unipd.utils.Settings"
            android:label="@string/settings">
        </activity>
    </application>

</manifest>
